<div class="task-list">
    <div class="task-container">
        <app-checkbox class="checkbox"></app-checkbox>
        <app-task taskDescription="Task N"></app-task>
        <app-delete-btn class="delete-btn"></app-delete-btn>
    </div>
    <div class="task-container">
        <app-checkbox class="checkbox"></app-checkbox>
        <app-task taskDescription="Task N-1"></app-task>
        <app-delete-btn class="delete-btn"></app-delete-btn>
    </div>
    <div class="task-container">
        <app-checkbox class="checkbox" isChecked="checked"></app-checkbox>
        <app-task taskDescription="Completed Task N-2" class="line-through"></app-task>
        <app-delete-btn class="delete-btn"></app-delete-btn>
    </div>
    <div class="task-container">
        <app-checkbox class="checkbox"></app-checkbox>
        <app-task taskDescription="Task k"></app-task>
        <app-delete-btn class="delete-btn"></app-delete-btn>
    </div>
    <div class="task-container">
        <app-checkbox class="checkbox"></app-checkbox>
        <app-task taskDescription="Task 2"></app-task>
        <app-delete-btn class="delete-btn"></app-delete-btn>
    </div>
    <div class="task-container">
        <app-checkbox class="checkbox" isChecked="chceked"></app-checkbox>
        <app-task taskDescription="Completed Task 1" class="line-through"></app-task>
        <app-delete-btn class="delete-btn"></app-delete-btn>
    </div>

</div>